.control-strip {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  justify-self: stretch;
  grid-column: 1 / -1;

  background: var(--strip-background-color);
  border-radius: 30px;
  /* padding: 0 20px; */

  margin-bottom: 20px;
}

.cue-button {
  width: 90px;
  height: 90px;
  display: block;
}

.play-button {
  width: 90px;
  height: 90px;
  display: block;
}

.bpm-box {
  width: 80px;
  height: 40px;
  font-size: 30px;
  font-family: monospace;
}
