.daw {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  row-gap: 20px;
  position: relative;

  padding: 20px 20px;
  border-radius: 30px;
  background: var(--daw-background-color);

  border: var(--borders-width) solid var(--borders-color);

  --strip-v-width: 133px;
  --strip-gap: 25px;
  --strip-h-width: calc(var(--strip-v-width) * 3 + var(--strip-gap) * 2);
}

.daw h1 {
  margin: 0.1em 0;
  font-size: 2.8rem;
  grid-column: 1 / -1;
}

.generate-ai-kick-btn {
  padding: 14px 0;
  width: 80%;
  background-color: #1a2e22;
  color: #fff;
  border: 1px solid #253d2e;
  grid-column: 1 / -1;
}
