.mastering-heading {
  grid-column: 1 / -1;
  margin: 0;
}

.master-strip-knobs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  justify-self: stretch;
  grid-column: 1 / -1;

  background: var(--strip-background-color);
  border-radius: 30px;

  border: var(--borders-width) solid var(--borders-color);
}
