.mastering-heading {
  grid-column: 1 / -1;
  margin: 0;
}

.master-strip-knobs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column: 1 / -1;
  justify-items: center;
  align-items: center;
  justify-self: center;
  column-gap: var(--strip-gap);

  padding-bottom: 7px;

  background: var(--strip-background-color);
  border-radius: 30px;

  border: var(--borders-width) solid var(--borders-color);

  width: var(--strip-h-width);
}
