# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.sqlite3

# WASM build
/dsp/build/

# Private
/notes
.env
.claudeignore
/kick_gen_trainer/weights
/kick_gen_trainer/data

.venv/

zzz_interview_prep/emails.md
zzz_interview_prep/interview-prep.md
zzz_interview_prep/job-description.md
