#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

html {
  min-height: 100%;
  height: 100%;
}

body {
  --main-color: silver;
  /* background-image: url("assets/backgrounds/bkg2.png"); */
  /* background-repeat: repeat; */
  /* background-color: black; */
  color: var(--main-color);
}

button {
  color: var(--main-color);
}

select {
  color: var(--main-color);
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 300px;
}

/* label {
  font-weight: 400;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.7);
} */

.presets-bar {
  --presets-bar-height: 40px;
  --presets-bar-bkg: rgba(10, 15, 10, 0.781);
  --presets-bar-color: white;
  --presets-bar-radius: 0px;

  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

.presets-bar-piece {
  height: var(--presets-bar-height);
  background-color: var(--presets-bar-bkg);
  color: var(--presets-bar-color);
  border-radius: var(--presets-bar-radius);

  border: 1px solid rgba(0, 0, 0, 0.2);
}

.presets-bar-name {
  width: 250px;
  background-color: var(--presets-bar-bkg);
  height: var(--presets-bar-height);
  color: var(--presets-bar-color);
  border-radius: var(--presets-bar-radius);

  border: 1px solid rgba(0, 0, 0, 0.2);
}

.presets-bar-name:hover {
  border-color: aquamarine;
}

.error {
  color: #ff4444;
  margin: 0;
}

.form-header {
  text-shadow: 0 0 6px rgba(0, 255, 156, 0.6);
  text-transform: uppercase;
  font-weight: 400;
}

.login-button {
  background-color: transparent;
}

.login-register {
  pad: 10px;
}

.logout-button {
  background-color: transparent;
}

.logout-button-border {
  padding-top: 40px;
}

.cue-button {
  width: 80px;
  height: 80px;
  display: block;
}

.play-button {
  width: 80px;
  height: 80px;
  display: block;
}

.bpm-box {
  width: 80px;
  height: 40px;
  font-size: 30px;
  font-family: monospace;
}

.knob-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.knob {
  touch-action: none;
  user-select: none;
  width: 75px;
  height: 75px;
  position: relative;
  transform-origin: center center;
}

.control-strip {
  display: flex;
  flex-direction: row;
  gap: 75px;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.layer-strip {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.sound-unit {
  display: flex;
  flex-direction: row;
  gap: 75px;
  justify-content: center;
}

.master-strip-knobs {
  display: flex;
  flex-direction: row;
  gap: 75px;
  justify-content: center;
}
