asgiref==3.11.0
django==5.2.10
django-cors-headers==4.9.0
djangorestframework==3.16.1
djangorestframework-simplejwt==5.5.1
gunicorn==24.0.0
packaging==26.0
psycopg==3.3.2
psycopg-binary==3.3.2
pyjwt==2.10.1
python-dotenv==1.2.1
sqlparse==0.5.5
typing-extensions==4.15.0
whitenoise==6.11.0
