#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

html {
  min-height: 100%;
  height: 100%;
}

body {
  color: var(--text-color);
}

button {
  color: var(--text-color);
}

select {
  color: var(--text-color);
  width: 110px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 300px;
}

.error {
  color: #ff4444;
  margin: 0;
}

.form-header {
  text-shadow: 0 0 6px rgba(0, 255, 156, 0.6);
  text-transform: uppercase;
  font-weight: 400;
}

.guest-auth-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.guest-auth-btn {
  background-color: transparent;
  cursor: pointer;
}

.presets-bar-message {
  text-shadow: 0 0 6px rgba(0, 255, 156, 0.6);
  text-transform: uppercase;
  font-weight: 400;
  color: white;
  margin: 10px 0;
}
